
<div class="container">
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4"><h2>Regestration Form</h2></div>
    <div class="col-xs-4"></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
<form (ngSubmit)= 'addNewDriver()' #addForm="ngForm" style="margin: 15px;">
    <div class="form-group" >
      <label>Enter Your Name: </label><br>
      <input type="text" class="form-control" [(ngModel)]=driver.name name="name" placeholder="Enter your name" pattern="[a-zA-Z]{5,15}" #name=ngModel required>
      <span *ngIf = "name.touched && name.invalid && (name.errors.required || name.errors.pattern)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid Name</p></span>
        <hr>
    </div>

    <div class="form-group">
      <label>Enter Your Password: </label><br>
      <input type="password"  class="form-control" [(ngModel)]=driver.password name="Password" placeholder="Your password" #password = ngModel pattern="[A-Za-z0-9@_!$]{8,15}" required>
      <span *ngIf = "password.touched && password.invalid && (password.errors.required || password.errors.pattern)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid Password</p></span>
        <hr>
    </div>
  
     <div class="form-group">
      <label>Enter Your Date Of Birth: </label><br>
      <input type="date" [(ngModel)]=driver.dob name="dob" #dob = ngModel  [max]="getToday()" [min]="getMinDate()" required>
      <span *ngIf = "dob.touched && dob.invalid && (dob.errors.required)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid Date Of Birth</p></span>
        <hr>
    </div> 
  
     <div class="form-group">
       <label>Gender: </label><br>
    <label class="radio-inline"><input type="radio" [(ngModel)]=driver.gender value = "Male" name="optradio" checked>Male</label>
    <label class="radio-inline"><input type="radio" [(ngModel)]=driver.gender value="Female" name="optradio">Female</label>
    <label class="radio-inline"><input type="radio" [(ngModel)]=driver.gender value="Others" name="optradio">Others</label>
  <hr>  
  </div> 
    <div class="form-group">
      <label>Enter Your E-Mail:</label><br>
      <input type="email"  class="form-control" [(ngModel)]=driver.email name="email" placeholder="abc@mail.com" #email= ngModel pattern="[a-z0-9]+@[a-z]+.[a-z]{3,}" required>
      <span *ngIf = "email.touched && email.invalid && (email.errors.required || email.errors.pattern)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid E-mail</p></span>
        <hr>
    </div>
  
    <div class="form-group">
      <label>Enter Your Contact: </label><br>
      <input type="text"  class="form-control" [(ngModel)]=driver.contactNo name="contact" placeholder="9876543210" #contact = ngModel pattern="[7-9][0-9]{9}" required>
      <span *ngIf = "contact.touched && contact.invalid && (contact.errors.required || contact.errors.pattern)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid Contact</p></span>
        <hr>
    </div>
  
    <div class="form-group">
      <label>Enter Your Address: </label><br>
      <input type="text"  class="form-control" [(ngModel)]=driver.address name="address" placeholder="Your address" #address = ngModel pattern="[A-Z][a-z]{5,}" required>
      <span *ngIf = "address.touched && address.invalid && (address.errors.required || address.errors.pattern)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid Address</p></span>
        <hr>
    </div>

    <div class="form-group">
      <label>Enter DL Number: </label><br>
      <input type="text"  class="form-control" [(ngModel)]=driver.drivingLicense name="address" placeholder="Your DL number" #dl = ngModel pattern="[a-z]{5,}" required>
      <span *ngIf = "dl.touched && dl.invalid && (dl.errors.required || dl.errors.pattern)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid DL Number</p></span>
        <hr>
    </div>    
  
    <div class="form-group">
      <label>Enter Your Vehicle Number: </label><br>
      <input type="text"  class="form-control" [(ngModel)]=driver.vehicleNo name="vehicleNo" placeholder="e.g. MH42OC1234" #vehicleNo = ngModel pattern="[a-zA-Z0-9]{6,10}" required>
      <span *ngIf = "vehicleNo.touched && vehicleNo.invalid && (vehicleNo.errors.required || vehicleNo.errors.pattern)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid Vehicle Number</p></span>
        <hr>
    </div>

     <div class="form-group">
      <label for="sel1">Select Your Car Model:</label>
      <select class="form-control" id="sel1" name="type" [(ngModel)]=driver.vehicleType required>
         <option value="null" disabled>--Select Your Car--</option> 
        <option [value]="micro" >Micro</option>
        <option [value]="mini"  >Mini</option>
        <option [value]="sedan" >Sedan</option>
        <option [value]="suv" >SUV</option>
      </select>
      <br>
    </div>
    
    <div class="form-group">
      <br>
      <button class="btn btn-success" type="submit" [disabled] = "!addForm.valid">Register Driver</button>
    </div>
  </form>
  </div>
  <div class="col-xs-3"></div>
  </div>