<form (ngSubmit)= 'saveDriver()' #addForm="ngForm">
  <div class="form-group">
    <label>Enter Your Name</label><br>
    <input type="text" class="form-control" [(ngModel)]=driver.name name="name" placeholder="Enter your name" pattern="[a-zA-Z]{5,15}" #name=ngModel required>
    <span *ngIf = "name.touched && name.invalid && (name.errors.required || name.errors.pattern)" class="alert-warning"> 
      Invalid name or name cannot be empty</span>
      <hr>
  </div>

   <div class="form-group">
    <label>Enter Your Date Of Birth</label><br>
    <input type="date" [(ngModel)]=driver.dob name="dob" #dob = ngModel  required>
    <span *ngIf = "dob.touched && dob.invalid && (dob.errors.required)" class="alert-warning"> 
      Invalid Date or date cannot be empty</span>
      <hr>
  </div> 

   <div class="form-group">
     <label>Gender: </label><br>
  <label class="radio-inline"><input type="radio" [(ngModel)]=driver.gender value = "Male" name="optradio" checked>Male</label>
  <label class="radio-inline"><input type="radio" [(ngModel)]=driver.gender value="Female" name="optradio">Female</label>
  <label class="radio-inline"><input type="radio" [(ngModel)]=driver.gender value="Others" name="optradio">Others</label>
<hr>  
</div> 
  <div class="form-group">
    <label>Enter Your E-Mail</label><br>
    <input type="email"  class="form-control" [(ngModel)]=driver.email name="email" placeholder="abc@gmail.com" #email= ngModel pattern="[a-z0-9]+@[a-z]+.[a-z]{3,}" required>
    <span *ngIf = "email.touched && email.invalid && (email.errors.required || email.errors.pattern)" class="alert-warning"> 
      Invalid email or email cannot be empty</span>
      <hr>
  </div>

  <div class="form-group">
    <label>Enter Your Contact</label><br>
    <input type="text"  class="form-control" [(ngModel)]=driver.contactNo name="contact" placeholder="9876543210" #contact = ngModel pattern="[7-9][0-9]{9}" required>
    <span *ngIf = "contact.touched && contact.invalid && (contact.errors.required || contact.errors.pattern)" class="alert-warning"> 
      Invalid contact or contact cannot be empty</span>
      <hr>
  </div>

  <div class="form-group">
    <label>Enter Your Address</label><br>
    <input type="text"  class="form-control" [(ngModel)]=driver.address name="address" placeholder="your address" #address = ngModel pattern="[A-Z][a-z]{5,}" required>
    <span *ngIf = "address.touched && address.invalid && (address.errors.required || address.errors.pattern)" class="alert-warning"> 
      Invalid address or address cannot be empty</span>
      <hr>
  </div>
  <div class="form-group">
    <label>Enter Your Password</label><br>
    <input type="password"  class="form-control" [(ngModel)]=driver.password name="password" placeholder="your password" #password = ngModel pattern="[A-Za-z0-9@_!$]{8,15}" required>
    <span *ngIf = "password.touched && passord.invalid && (password.errors.required || password.errors.pattern)" class="alert-warning"> 
      Invalid password or password cannot be empty</span>
      <hr>
  </div>

  <div class="form-group">
    <label>Enter Your Vehicle Number</label><br>
    <input type="text"  class="form-control" [(ngModel)]=driver.vehicleNo name="vehicleNo" placeholder="your address" #vehicleNo = ngModel pattern="[A-Z0-9]{5,}" required>
    <span *ngIf = "vehicleNo.touched && vehicleNo.invalid && (vehicleNo.errors.required || vehicleNo.errors.pattern)" class="alert-warning"> 
      Invalid vehicleNo or vehicleNo cannot be empty</span>
      <hr>
  </div>

   <div class="form-group">
    <label for="sel1">Select Your Car Model:</label>
    <select class="form-control" id="sel1" name="type" [(ngModel)]=driver.vehicleType required>
       <option value="null" disabled>--Select Your Car--</option> 
      <option value="Micro" >Micro</option>
      <option value="Mini"  >Mini</option>
      <option value="Sedan" >Sedan</option>
      <option value="SUV" >SUV</option>
    </select>
    <br>
  </div>

  <div class="form-group">
    <br>
    <button class="btn btn-success" type="submit" [disabled] = "!addForm.valid">Register Driver</button>
  </div>
</form>