<div class="card" style="width: 18rem;" style="background-color: rgba(123, 123, 123, .3);">
    <div class="card-body">
        <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row">UserId:</th>
                <td></td>
                
              </tr>
              <tr>
                <th scope="row">Source:</th>
                <td></td>
                
              </tr>
              <tr>
                <th scope="row">Destination</th>
                <td></td>
              </tr>
              <tr>
                  <th scope="row">Model</th>
                  <td></td>
              </tr>
              <tr>
                  <th scope="row">Estimated Price:</th>
                  <td></td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>