<div class="jumbotron container" >
  <h1>Cab Booking System</h1>
  
</div>
<div class="container">
<router-outlet></router-outlet>
</div>
 <!-- <div class="container-fluid"  *ngIf="!isHiddenLogin">
    <app-login></app-login>
</div>
<div *ngIf="!isHiddenCustomerDashboard">
  <h3>Welcome customer {{customer.name}}</h3> -->
      <!-- <li><a [routerLink] = "['login']">Login</a></li> -->
      <!-- <nav class = "navbar navbar-inverse">
        <div class="container-fluid" > 
          <div class="navbar-header">
            <a class="navbar-brand">Customer Service</a>
          </div>
          <ul class="nav navbar-nav">
      <li><a [routerLink] = "['history']">Past trips</a></li>
      <li><a [routerLink] = "['find_trip']">Book a cab</a></li>

    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
  
</div>
</div>  -->

